<h2>参加中のイベント</h2>
    <% @favorites.each do |favorite| %>
      <% contact = Event.find(favorite.contact_id) %>
            <div class="name3"><%= link_to contact.contact_name, contact_path(contact) %></div>
            <div class="name2"><%= link_to "参加中のイベントから削除",favorite_path(favorite), method: :delete %></div>
            <div class="name2">
            <%= contact.contact_date.strftime("%Y-%m-%d %H:%M:%S")  %>
            </div>
            <div class="name2">
            <%= contact.contact_location %>
            </div>
    <br />
    <% end %>