<!-- Page Header -->
<header class="masthead" style="background-image: url(<%= asset_path "top_contact.jpg" %>)">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>log in or sign up to continue</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p class="copyright text-muted">問い合わせフォームです。どんな質問にもお答えします。 </p>
      </div>
    </div>
  </div>
</footer>